body {
    font-family: "VT323", monospace;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:
    linear-gradient(
        rgba(15, 20, 20, 0.25),
        rgba(15, 20, 20, 0.35)
    ),
    url(../images/koibg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.calculator {
    width: 380px;
    padding: 32px;
    border-radius: 32px;
    background: rgba(32, 28, 28, 0.5);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(16, 13, 13, 0.2);
}

#display {
    min-height: 100px;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 24px;
    background: rgba(6, 9, 10, 0.85);
    color: #f3eee6;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: "Jersey 25", sans-serif;
    font-size: 48px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 72px);
    gap: 12px;
    justify-content: center;
    width: 100%;
}

.buttons button {
    width: 72px;
    height: 72px;
    border: none;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.12);
    color: #f3eee6;
    font-size: 1.5rem;
    cursor: pointer;
}

#equals {
    grid-column: span 2;
    width: calc(72px * 2 + 12px);
    border-radius: 999px;
    background: #993300;
}